$heightCon: auto
$smallSize: 120px
$half: 50%
$full: 100%

html
	background: #7474BF 
	background: -webkit-linear-gradient(to left, #7474BF , #348AC7) 
	background: linear-gradient(to left, #7474BF , #348AC7) 
     
h1	
	font-family: 'Lobster', cursive
	margin: 0.5em 0 0 1em 
	font-size: 3.2em

form 
	margin-top: 2em
	margin-bottom: 0

footer 
	font-size: 14px
	background-color: lightgrey	

fieldset 
	margin: 0.5em 30%

.container
	border-radius: 1%
	padding: 0 0 2em 0
	text-align: center
	height: $heightCon
	max-height: 49em
	margin: 5vh 10vw
	background-color: #fff
	box-shadow: 0 0 4em black
	font-family: 'Orbitron', sans-serif
	font-size: 18px

.header 
	background-image: url('https://wallpaperscraft.com/image/moraine_lake_alberta_canada_hdr_93615_3840x2400.jpg')
	background-size: cover
	height: 30em	
	width: $full
	padding-top: 0.2em
	font-weight: bold
	color: black

#pic1
	height: $smallSize
	width: $smallSize
	border-radius: $half
	display: inline-block
	margin: 0.5em 0.5em 0 0
	box-shadow: 0 0 8px black

#developer
	width: 10em
	display: inline
	margin-left: 2em
	text-align: right
	font-family: 'Orbitron', sans-serif
	font-size: 1.3em

#btn1
	font-family: 'Orbitron', sans-serif
	margin-top: 0.5em